services:
  nginx:
    build:
      context: docker/nginx
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/app
    ports:
      - 8080:80
    depends_on:
      - php-fpm

  php-fpm:
    build:
      context: docker/php-fpm
      dockerfile: Dockerfile
      args:
        WWW_DATA_UID: ${DOCKER_USER_UID}
        WWW_DATA_GID: ${DOCKER_USER_GID}
    volumes:
      - ./:/var/www/app
    environment:
      APP_ENV: dev
      DB_DRIVER: Pdo_Mysql
      DB_USER: skeleton_db
      DB_NAME: skeleton_db
      DB_HOST: mysql
      DB_PASS: secret
      DB_PORT: 3306
      HOST: http://nginx

  mysql:
    image: mysql:8.2
    command: mysqld --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_USER: skeleton_db
      MYSQL_PASSWORD: secret
      MYSQL_DATABASE: skeleton_db
    ports:
      - 33061:3306

volumes:
  mysql: