<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="rollun\\test\\">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="true" force="true"/>
    </php>
</phpunit>
