name: PHP Composer

on:
  push:
    branches: [ test ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      # https://github.com/docker/compose/issues/7306
      COMPOSE_INTERACTIVE_NO_CLI: 1

    steps:
      - uses: actions/checkout@v2

      - name: Init project
        run: whoami && id -u && ls -la

      - name: Build
        run: make init
#
#      - name: docker ls
#        run: docker compose exec php-fpm whoami && id -u && id -g && ls -la && touch test.txt
